In [1]:
# Importando as bibliotecas:
import pandas as pd
%matplotlib inline
%pylab inline
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')

Populating the interactive namespace from numpy and matplotlib

In [45]:
df = pd.read_csv('natalidade-2-2017.csv',sep=';',encoding='latin1')

In [46]:
type(df)

pandas.core.frame.DataFrame

In [47]:
df.head().T

,0,1,2,3,4
ID_USUARIO,89596,1035823,285840,345075,429112
ID_FAMILIA_USUARIO,360027,359997,9773,43317,359906
UNIDADE,CRAS PLANALTINA,CRAS SOBRADINHO,CRAS ITAPOÃ,CRAS GAMA,CRAS SANTA MARIA
DATA_SOLICITACAO,03/07/2017,03/07/2017,03/07/2017,03/07/2017,03/07/2017
STATUS DA SOLICITAÇÃO,DEFERIDO,DEFERIDO,DEFERIDO,DEFERIDO,DEFERIDO

## Vamos analisar um pouco esse dataset

In [48]:
df.shape

(4051, 5)

###### Olha aí! Temos 4051 linhas e 5 colunas!

#### Quais são as colunas?

In [49]:
df.columns

Index(['ID_USUARIO', 'ID_FAMILIA_USUARIO', 'UNIDADE', 'DATA_SOLICITACAO',
       'STATUS DA SOLICITAÇÃO'],
      dtype='object')

In [63]:
a = df['ID_USUARIO'].unique()

In [65]:
size(a)

3958

###### Ou seja, temos 3958 usuários únicos em 4051 registros. Assim, temos usuário que fizeram mais de um pedido. Será que eles tiveram mais filhos?

## Qual a quantidade de pedidos por status?

In [14]:
df[u'STATUS DA SOLICITAÇÃO'].value_counts()

DEFERIDO    4051
Name: STATUS DA SOLICITAÇÃO, dtype: int64

###### Ou seja, nesse conjunto de dados estão apenas as soliticações de STATUS DEFERIDOS

### Qual o número de pedidos de natalidade por UNIDADE?

In [13]:
df.groupby('UNIDADE')['UNIDADE'].count().sort_values()

UNIDADE
CREAS NÚCLEO BANDEIRANTE                          1
CREAS CEILANDIA                                   1
CREAS BRASÍLIA                                    1
CREAS Diversidade Sexual, Religiosa e Racial      2
CREAS PLANALTINA                                  3
CREAS GAMA                                        3
CREAS TAGUATINGA                                  4
CENTRO POP TAGUATINGA                             4
CREAS SOBRADINHO                                  4
CENTRO POP BRASÍLIA                               5
CREAS SAMAMBAIA                                   6
CREAS ESTRUTURAL                                  6
CREAS BRAZLÂNDIA                                 10
CRAS BRASÍLIA                                    29
CRAS CANDANGOLANDIA                              39
CRAS NUCLEO BANDEIRANTE                          50
CRAS FERCAL                                      51
CRAS GUARA                                       53
CRAS VARJÃO                                      65
CRAS AREAL                                       85
CRAS SAMAMBAIA EXPANSÃO                          88
CRAS SOBRADINHO II                              107
CRAS SOBRADINHO                                 111
CRAS RIACHO FUNDO I                             115
CRAS RIACHO FUNDO II                            119
CRAS CEILANDIA SUL                              124
CRAS PARANOÁ                                    124
CRAS TAGUATINGA NORTE                           138
CRAS GAMA                                       153
CRAS SAO SEBASTIÃO                              155
CRAS ESTRUTURAL                                 164
CRAS SANTA MARIA                                180
CRAS ARAPOANGA                                  192
CRAS ITAPOÃ                                     195
CRAS BRAZLÂNDIA                                 197
CRAS P SUL                                      260
CRAS RECANTO DAS EMAS                           261
CRAS CEILANDIA NORTE                            266
CRAS PLANALTINA                                 300
CRAS SAMAMBAIA SUL                              380
Name: UNIDADE, dtype: int64

#### CRAS SAMAMBAIA SUL teve o maior número de pedidos

## Investigando se um usuário fez mais de um pedido de auxilio natalidade:

In [66]:
df[u'ID_USUARIO'].value_counts()

629643     3
437433     3
840743     3
1055587    3
1040065    2
          ..
931128     1
17718      1
128308     1
109875     1
925696     1
Name: ID_USUARIO, Length: 3958, dtype: int64

---

In [69]:
df.shape

(4051, 5)

In [72]:
df.head().T

,0,1,2,3,4
ID_USUARIO,89596,1035823,285840,345075,429112
ID_FAMILIA_USUARIO,360027,359997,9773,43317,359906
UNIDADE,CRAS PLANALTINA,CRAS SOBRADINHO,CRAS ITAPOÃ,CRAS GAMA,CRAS SANTA MARIA
DATA_SOLICITACAO,03/07/2017,03/07/2017,03/07/2017,03/07/2017,03/07/2017
STATUS DA SOLICITAÇÃO,DEFERIDO,DEFERIDO,DEFERIDO,DEFERIDO,DEFERIDO

#### Quantas famílias fizeram pedidos?

In [74]:
size(df['ID_FAMILIA_USUARIO'].unique())

3949

#### São:
#### 3949 familias
#### 3958 usuários
#### 4051 pedidos

Então devemos ter repetição de usuários e familias fazendo pedidos.

# Importante >> Converti para string pois esse numeros nao podem ser tratados como numeros

In [82]:
df['STR_ID_FAMILIA_USUARIO'] = df['ID_FAMILIA_USUARIO'].apply(str)
df['STR_ID_USUARIO'] = df['ID_USUARIO'].apply(str)

In [83]:
df['STR_ID_FAMILIA_USUARIO'].describe()

count       4051
unique      3949
top       373840
freq           3
Name: STR_ID_FAMILIA_USUARIO, dtype: object

In [84]:
df['STR_ID_USUARIO'].describe()

count       4051
unique      3958
top       840743
freq           3
Name: STR_ID_USUARIO, dtype: object

In [86]:
a = df.groupby('STR_ID_USUARIO')

In [97]:
df['STR_ID_USUARIO'].value_counts() > 1

840743      True
629643      True
1055587     True
437433      True
1036575     True
           ...
570473     False
62969      False
1046608    False
453445     False
1050901    False
Name: STR_ID_USUARIO, Length: 3958, dtype: bool